@import url('https://fonts.googleapis.com/css?family=Bungee|Work+Sans');

body {
    margin: 0 auto;
    max-width: 980px;
    background: linear-gradient(grey, transparent),
    linear-gradient(to top left, black, transparent),
    linear-gradient(to top right, white, transparent);

}

#carousel {
    height: 400px;
}

#carousel img {
    max-height: 550px;
}
#about-company {
    max-width: 980px ;
}
#about-company {
    display:grid;
     grid-template-columns: 65% 15% ;s
}
.about-company-img {
    display: block;
}
.about-company-img img {
    max-height: 200px ;
}

.navbar-brand img {
   max-height: 35px;
}

h2 {
    text-align: center;
    margin-top: 10px;
    color: red;
}