@import url('https://fonts.googleapis.com/css?family=Bungee|Work+Sans');

body {
    margin: 0 auto;
    max-width: 1200px;
    background: linear-gradient(white, transparent),
    linear-gradient(to top left, grey, transparent),
    linear-gradient(to top right, black, transparent);

}

#carousel {
    height: 400px;
}

#carousel img {
    max-height: 550px;
}

h2 {
    text-align: center;
    margin-top: 10px;
    color: red;

}
